
<head>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AudioKey</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="jquery.com/ui/1.8.10/themes/smoothness/jquery-ui.css" type="text/css">
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/jquery-ui.min.js"></script> -->

    <!-- p5 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/addons/p5.dom.js"></script>
    <script language="javascript" src="https://cdn.jsdelivr.net/npm/p5@1.2.0/lib/addons/p5.sound.min.js"></script>
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
<header>
    <div class = 'logo' >
        <a href='#'> 
            <img src="static/images/audiokey.svg">
        </a>
    </div>
     <div class = 'nav'>
        <a href = 'https://github.com/cjm715/key_classifier'>github</a>
    </div> 
</header>

<div class='results_display'>
    <div id='p5sketch'>

    </div>
    <div id = 'statusDiv'>
        Record music to determine key by pressing mic icon and submitting.
    </div>
</div>

<div class = 'player'>
    <div class="top_row">
        <div class = 'player_button'>
            <!-- <button id="record">START</button> -->
            <img src = 'static/images/mic.svg' id ='mic_rec'>
        </div>
        <div class="player_button">
            <!-- <button id="btnSubmit">SUBMIT</button> -->
            <img src = 'static/images/send.svg' id = 'submit'>
        </div>
    </div>
    <div class="bottom_row">
        <audio id="audioPlayer" controls></audio>
    </div>
</div>


<script src="static/js/key_classifier.js"></script>

</body>